body{
    background-color: #888;
    font-family: arial, sans-serif;
}
div.circle {
    position: absolute;
    z-index: 1000;
    border: 3px solid red;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.area{
    width: 300px;
    height:300px;
}

/* ------ WHAT DID YOU KILL PAGE ------- */
/* ------------------------------------- */

#animalswrap{
    width: 80%;
    margin-left: 10%;
}

input#submit{
    clear: left;
    width: 50%;
    margin-left: 25%;
    line-height: 3em;
    height: 3em;
}

.wdykh1{
    display: block;
    width: 80%;
    margin: 1em 5%;
    padding: 1em 5%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 1em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

.formrow{
    float: left;
    width: 180px;
    height: 120px;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}

.formrow:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.formrow input{
    width: 40px;
}

.anianimal{
    background-image: url(../assets/images/4animals.png);
    background-position-y: 9999px;
    background-repeat: no-repeat;
    width: 120px;
    height: 90px;
    -webkit-animation: galloping .4s steps(4) infinite;
}

@-webkit-keyframes galloping{
    from { background-position-x:    0px; }
      to { background-position-x: -480px; }
}

.anianimal.sheep{
    background-position-y: 0px;
}

.anianimal.horse{
    background-position-y: -180px;
} 

.anianimal.swan{
    background-position-y: -90px;
} 

.anianimal.dolphin{
    background-position-y: -270px;
} 