body{
    background-color: #000;
}
div.circle {
    position: absolute;
    z-index: 1000;
    border: 3px solid red;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.area{
    width: 300px;
    height:300px;
}

div.a {
width: 50px;
height:50px;
 background-color:red;
position:fixed;
    
}

