body{
    background-color: #888;
    font-family: arial, sans-serif;
}
div.circle {
    position: absolute;
    z-index: 1000;
    border: 3px solid red;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.area{
    width: 300px;
    height:300px;
}

div.cow {
width: 120px;
height:80px;
background-image: url('../assets/images/cow01.gif');
background-repeat: none;
position:fixed;
    
}

/* ------ WHAT DID YOU KILL PAGE ------- */
/* ------------------------------------- */

.wdykh1{
    display: block;
    width: 80%;
    margin: 1em 5%;
    padding: 1em 5%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 1em;
    text-align: center;
    color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

.formrow{
    clear: left;
}
>>>>>>> Created What Did You Kill page in it's most basic form
